.img {
    margin: 100px auto 0;
    text-align: center;
}

.searchbox {
    text-align: center;
    background-color: rgb(226, 232, 237);  
}

.button {
    margin-top: 3px;
}

.box1 {
    width: 36%;
    height: 100px;
    float: left;
    background-color: rgb(126, 229, 218); 
    text-align: center;  
}

.box2 {
    width: 21%;
    height: 100px;
    float: left;
    margin-left: 3px;
    background-color: rgb(126, 229, 218);
    text-align: center;
}

.box3 {
    width: 42.5%;
    height: 100px;
    margin-left: 3px;
    float: left;
    background-color: rgb(126, 229, 218); 
    text-align: center; 
    margin-right: 0;
}

.p {
    margin: 0;
    padding: 0;
}

.text {
    clear: both;
    padding-top: 15px;
    text-align: center;
}