
.pozition1 {
    /* Article için */
    list-style-position: inside;
    padding-left: 40%;
}
/* p için */
.pozition2{
    padding-left: 15%;
}
.pozition3{
    /* table2 için */
    padding-left: 5%;
}
.pozition4 {
    /* table3 için */
    padding-left: 10%;
}
.pozition5 {
    /* Ana sayfa için */
    padding-left: 45%;
}
.pozition6 {
    /* h1 için */
    list-style-position: inside;
    padding-left: 40.5%;
}

.pozition7 {
    list-style-position: inside;
    padding-left: 45%;
}
p {
    list-style-position: inside;
}

.text-red{
    color: red;
}
.text-orange{
    color: orange;
}
.text-blue{
    color: rgb(84, 9, 169);
}

.fs-15 {
    font-size: 15px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}
